$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Core Colors
$blk: #313131;
$white: #FFFFFF;
$lt-grey: #EFEFEF;
$md-grey: #E5E5E5;
$dk-blue: #356F9C;
$lt-blue: #25AAE1;
$orange: #CC5D2B;

// Typography
$nunito: "Nunito Sans", sans-serif;
$oswald: "Oswald", sans-serif;
$icomoon: 'Icomoon';

$trans: 0.4s ease all;

// Breakpoints
$desktop-xlg: 2100px;
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;